[submodule "src/Abstractions"]
	path = src/Abstractions
	url = https://github.com/AspectCore/Abstractions
	branch = master
[submodule "src/Configuration"]
	path = src/Configuration
	url = https://github.com/AspectCore/Configuration
	branch = master
[submodule "src/DynamicProxy"]
	path = src/DynamicProxy
	url = https://github.com/AspectCore/DynamicProxy
	branch = master
[submodule "src/Autofac"]
	path = src/Autofac
	url = https://github.com/AspectCore/Autofac
	branch = master
[submodule "DependencyInjection"]
	path = DependencyInjection
	url = https://github.com/AspectCore/DependencyInjection
	branch = master
[submodule "src/CrossParameters"]
	path = src/CrossParameters
	url = https://github.com/AspectCore/CrossParameters
	branch = master
[submodule "src/CrossProperties"]
	path = src/CrossProperties
	url = https://github.com/AspectCore/CrossProperties
	branch = master
